MONGO_URI=mongodb://127.0.0.1:27017/e-commerce

JWT_SECRET=''
JWT_FORGET_PASS_SECRET=""
TOKEN_EXPIRY='1d'

// cloudinary things
CLOUDINARY_CLOUD_NAME=""
CLOUDINARY_API_KEY=""
CLOUDINARY_API_SECRET=""

ENV='DEV'

// RazorPay things
RAZORPAY_KEY_ID=""
RAZORPAY_KEY_SECRET=""

// GMAIL CREDS FOR MAIL SERVICE
// GOOGLE APP PASSWORD
MAIL_USER=''
MAIL_PASS=''

CLIENT_URL=http://localhost:5173
